common --module_mirrors=https://bcr.cloudflaremirrors.com

common --copt="-Wno-unused-label"
common --copt="-Wno-unused-but-set-variable"
common --copt="-Wno-discarded-qualifiers"
common --copt="-Wno-parentheses"