common --enable_platform_specific_config
# build --action_env BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:linux --sandbox_add_mount_pair=/tmp
# build --nostart_end_lib
# build --features=-supports_start_end_lib
build --nostart_end_lib
common --copt="-Wno-unused-label"
common --copt="-Wno-unused-but-set-variable"
common --copt="-Wno-discarded-qualifiers"
common --copt="-Wno-parentheses"
common --copt="-Wno-discarded-array-qualifiers"
common --copt="-Wno-unknown-pragmas"