name: Continuous integration
on:
  pull_request:
  push:
    branches: ["master"] # ['**']
    tags: [v*]

jobs:
  buildifier:
    name: Run buildifier check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Buildifier check
        run: |
         nix develop .#ci --command buildifier -mode check -r .

  integration-tests:
    name: Run integration tests
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Bazel disk cache
        uses: actions/cache@v4
        env:
          # Bump this number to invalidate the GH actions cache
          cache-id: 1
        with:
          path: |
            ~/.bazel-disk-cache
            ~/.bazel-repo-cache
          key: ${{ matrix.os }}-bazel-ci-cache-${{ env.cache-id }}
      - name: Integration tests
        run: |
          nix develop .#ci --command bazel test //e2e:all_integration_tests --config=ci
